/* Import scoped CSS rules for components */
@import "./_components.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.meter {
    display: flex;
    overflow: hidden;
    background-color: #000000;
    border-radius: 0.75rem;
    margin-bottom: 3rem;
    height: 6rem;
  }
  
  .meter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkred;
    text-align: center;
    white-space: nowrap;
    font-weight: 900;
    font-size: 3rem;
    transition: width 2s ease;
  }

html {
  justify-content: center;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  }